.link {
    text-decoration: none;
    display: flex;
    align-self: center;
}

.submit-control {
    display: flex;
    align-content: center;
    gap: 0.4em;
}

.form {
    min-width: 840px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}