.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.home-main {
    flex: 1 1 auto;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 40px 36px 64px;
    position: relative;
    top: 65px;
    gap: 20px;
}

.footer {
    position: relative;
    top: 65px;
}

.home-main img {
    max-width: 100%;
    border-radius: 15px;
}

.home-main h2 {
    color: #666666;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    margin: 0;
    text-transform: uppercase;
}

.items {
    display: grid;
    grid-template-columns: repeat(5, calc(20% - 12.5px));
    grid-column-gap: 15px;
    grid-row-gap: 25px;
    grid-template-rows: auto;

}

@media only screen and (max-width: 960px) {
    .items {
        grid-template-columns: repeat(4, calc(25% - 7.5px));
        grid-column-gap: 10px;
        grid-row-gap: 15px;
    }

    .item-name {
        font-size: 12px;
        line-height: 1.3em;
        height: 2.6em;
    }
}

@media only screen and (max-width: 560px) {
    .items {
        grid-template-columns: repeat(3, calc(33.33% - 5.3px));
        grid-column-gap: 8px;
        grid-row-gap: 15px;
    }

    .item-name {
        font-size: 8px;
        line-height: 1.1em;
        height: 2.2em;
    }
}



.item {
    text-decoration: none;
    color: #333333;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.item-image {
    border-radius: 5px;
    background-color: gainsboro;
}

.item-image img {
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 5px;
}

.item-name {
    word-break: break-word;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 1.4em;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: 2.8em
}